@font-face {
  font-family: Georgia;
  src: url(fonts/Georgia-Regular/Georgia-Regular.ttf);
}
.container {
  background: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
}
body {
  font: 24px/24px Georgia, Arial, sans-serif;
  color: #000000;
  background-color: #282828;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  color: black;
  margin: 0 auto;
  width: 675px;
}
.navigation__list {
  display: block;
  list-style-type: none;
  text-align: right;
}
.navigation__link {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  line-height: 30px;
  font-size: 20px;
  padding-right: 10px;
  color: black;
}
.navigation__link--logo {
  text-transform: uppercase;
  padding-right: 40px;
  font-style: italic;
}
.navigation__item {
  display: inline-block;
  cursor: pointer;
}
.main-header {
  background-color: white;
  min-height: 685px;
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: 100%;
}
.main-header__logo {
  width: 180px;
  color: black;
  line-height: 30px;
  font-size: 30px;
  font-style: italic;
}
.main-header__text {
  margin: 0 auto;
  width: 52%;
  color: white;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: ;
}
.feature {
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.feature__title {
  font-size: 45px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}
.feature__title-2 {
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}
.feature__items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 120px;
  font-size: 24px;
  line-height: 24px;
}
.person {
  margin: 0 auto;
  width: 25%;
  text-align: left;
  color: white;
}
.person__text {
  font-style: italic;
}
.button-source {
  display: block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  color: black;
  text-transform: uppercase;
}
.small-title {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
}
