.main-header {
    background: url("../img/mobile-bg.jpg") no-repeat 100% 100%;
    background-size: 100%;
    min-height: 330px;
    max-height: 330px;
    &__text {
        font-size: 14px;
        line-height: 20px;
        color: white;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
}
@media(min-width: 800px) {
    .main-header {
        background-color: white;
        min-height: 485px;
        max-height: 485px;
        background: url("../img/header-bg.jpg") no-repeat;
        background-size: 100%;
        padding-top: 20px;
        &__logo {
            width: 180px;
            color: black;
            line-height: 30px;
            font-size: 30px;
            font-style: italic;
        }
        &__text {
            width: 52%;
            font-size: 36px;
            line-height: 48px;
            margin-bottom: ;
        }
    }
}
